.formContent {
  width: 100%;
  font-size: 1rem;
  padding: 1rem;
  min-height: 7rem;
  border: 2px solid hsl(0deg, 0%, 73%);
  border-radius: 4px;
  background: hsl(60deg, 10%, 90%);
  margin-bottom: 1rem;
}

.formButton {
  background: hsl(13deg, 100%, 68%);
  border-radius: 4px;
  color: hsl(220deg, 30%, 14%);
  border: 0;
  padding: 0.6rem 1.6rem;
  font-size: 0.9rem;
  font-weight: 800;
}
